jobs:
- job:
  strategy:
    matrix:
      Linux-Icarus-py27:
        python.version: '2.7'
        imageName: 'ubuntu-16.04'
        SIM: icarus
      Linux-Icarus-py37:
        python.version: '3.7'
        imageName: 'ubuntu-16.04'
        SIM: 'icarus'
      Linux-GHDL-py37:
        python.version: '3.7'
        imageName: 'ubuntu-16.04'
        SIM: 'ghdl'
      Windows-Icarus-py37:
        python.version: '3.7'
        imageName: 'win1803'
        SIM: 'icarus'
      Mac-Icarus-py37:
        imageName: 'macos-10.13'
        python.version: '3.7'
        SIM: 'icarus'

  pool:
    vmImage: $(imageName)
  variables:
    SIM: $(SIM)
  
  steps:    
  - powershell: |
        Invoke-WebRequest -outfile miniconda3.exe https://repo.continuum.io/miniconda/Miniconda3-latest-Windows-x86_64.exe
        Start-Process .\miniconda3.exe -ArgumentList '/S /D=C:\miniconda3' -Wait
        Write-Host "##vso[task.prependpath]C:\miniconda3;C:\miniconda3\Library\mingw-w64\bin;C:\miniconda3\Library\usr\bin;C:\miniconda3\Library\bin;C:\miniconda3\Scripts;C:\miniconda3\bin;C:\miniconda3\condabin"
    displayName: Download and Install Anaconda on Windows
    condition: eq( variables['Agent.OS'], 'Windows_NT' )
    
  - script: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH
    condition: ne( variables['Agent.OS'], 'Windows_NT' )
    
  - script: |
      sudo chown -R $USER $CONDA
      gcc --version
    displayName: Take ownership of conda installation
    condition: eq( variables['Agent.OS'], 'Darwin' )
    
  - script: |
      conda update -q -y conda
      conda init
    displayName: Update conda

  - script: conda install --yes m2w64-gcc libpython
    displayName: Install Windows conda development
    condition: eq( variables['Agent.OS'], 'Windows_NT' )
    
  - script: |
       conda create -n myenv -y python=$(python.version)
    displayName: Create Anaconda environment
    
  - script: |
      conda activate myenv
    displayName: Activate Anaconda environment on Windows
    condition: eq( variables['Agent.OS'], 'Windows_NT' )
    
  - script: |
      source activate myenv
    displayName: Activate Anaconda environment
    condition: ne( variables['Agent.OS'], 'Windows_NT' )
    
  - script: |
      conda install --yes -c conda-forge iverilog
    displayName: 'Download and Install Icarus Verilog'

  - script: |
      echo "##vso[task.setvariable variable=SIM]$(SIM)"
    displayName: Set simulator
    
  - script: |
      pip install tox
      tox
    displayName: 'Package Test with Tox'
    condition: ne( variables['Agent.OS'], 'Windows_NT' )
    
  - script: |
      pip install -e .
    displayName: 'Install cocotb-test'
    
  - script: |
      git clone https://github.com/potentialventures/cocotb
      pip install -e cocotb
    displayName: 'Install cocotb from source'
    
  - script: |
      set SIM=icarus
      pytest -s --junitxml=test-results.xml --cocotbxml=test-cocotb.xml tests
    displayName: 'Test with pytest'

  - script: |
      cd tests; make
    displayName: 'Test Makefile flow (Linux only)'
    condition: and( eq( variables['Agent.OS'], 'Linux' ), eq(variables['SIM'], 'icarus'))
    
  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: 'test-*.xml'
      testRunTitle: 'Test results for Python $(python.version) on $(imageName) with $(SIM)'
